/* .text-center {
    text-align:center;
} */
/* #page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background:#F3F3F3;

} */
/* #page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:#fff!important;
    padding:10px;
    min-height:1200px;
} */
